/* Main Stylesheet
 *
 * Main stylesheet. */

/* Start Body Styles */
body
{
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
	background-size: 100%;
	font-size: 100%;
	color: black;
	text-align: center;
	width: 1024px;
	height: 768px;
}
/* End Body Styles */

/* Start Nav Styles*/

.navTB{
	float: left;
	border: 5px dotted black;
	border-collapse: collapse;
	font-size: 24px;
	margin-top: 100px;
	text-align: left;
}
.navBar 
{
	float: left;
	text-align: left;
	width: 20%;
	list-style: none;
	line-height: 2.2em;
	display: block;
}

.navBar li a
{
	color: rgb(0,102,153);
}

.navBar li a:hover
{
	color: red;
}
nav a
{
	text-decoration: none;
}

/* End Nav Styles */


/* Start Site Map Styles */

.siteMap
{
	margin-top: 100px;
	text-align: center;
}

.siteMap a
{
	color: rgb(0,102,153);
}

/* End Site Map Styles */

/* Start Resource Styles */
.resourcesContent
{
	margin-top: 100px;
}

.resourcesContent li a
{
		color: rgb(0,102,153);
}

.resourcesContent ul
{
	list-style-type: none;
}
/* End Resoruce Styles */

/* Start Contact Styles */
.contactContent
{
	margin-top: 100px;
}

/* End Contact Styles */


/* Heading Styles */
h2{
	text-align: center;
}

/* End Heading styles */
.content{
	text-align: center;
}